body {
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
#map {
  width: 50%;
  height: 100%;
}
#resizer {
  width: 5px;
  background: #ccc;
  cursor: ew-resize;
}
#text-editor-wrapper {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  background: #f4f4f4;
  padding: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}
.tab-container {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #ccc;
}
.tabs {
  display: flex;
}
.actions {
  display: flex;
  margin-left: auto;
}
.tab {
  padding: 8px 12px;
  cursor: pointer;
  background: #ddd;
  border: 1px solid #ccc;
  border-bottom: none;
  display: flex;
  align-items: center;
}
.tab.active {
  background: #f4f4f4;
  border-bottom: none;
}
.actions button {
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.2;
  white-space: normal;
  text-align: center;
}
#text-editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#text-editor {
  width: 100%;
  height: calc(100% - 40px);
  border: none;
  font-family: monospace;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
}
